#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  margin-top: 70px;
}

#greeting-container {
  margin-top: 20px;
}

#portrait {
    width: 400px;
    height: auto;
    border: 5px solid #555;
}

body {
    background-color: rgb(207, 230, 248);
}

  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

#factButton{
    outline: 0;
    color: rgb(0, 0, 0);
    background-color: rgb(84, 204, 84);
    border-color: black;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 16px;
    border-radius: .50rem;
    border: 2px solid #555;
}

#placeButton{
    outline: 0;
    color: rgb(0, 0, 0);
    background-color: rgb(84, 204, 84);
    border-color: black;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 16px;
    border-radius: .50rem;
    border: 2px solid #555;
}

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 3px solid black;
    background-color: rgb(33, 85, 145);
    position: fixed;
    width: 98.5%;
    top: 0;
  }

  li {
    float: left;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
